run = "npm run dev"
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39536624

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80
