@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap')

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gray50: #f6f7f8; /*月白*/
  --purple: #be84b8; /*若紫*/
  --black: #212121; /*漆黒*/	
  --main-font: "Zen Kaku Gothic New", serif;
}

.light-theme{
  --main-color: var(--black);
}

body{
  height: 100vh;
  background-color: var(--gray50);
  display: flex;
}

h1{
  font-family: var(--main-font);
}